<head>

 <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
</head>
<body>
  <h1 id="titleText">Who Am I?</h1>
  <img src="https://image.ibb.co/nLnWF7/me.jpg" alt="me" border="0" id="imgPlaceholder"/>
  <h1 id = "firstLine"class="aboutMe"> Hello. Welcome to the About page of my site. My name is Jose Santana and </h1>
  <h1 class="aboutMe"> I am currently in the 11th grade of highschool.</h1>
  <h1 id="lastLine"class="aboutMe">Scroll down below to learn more about me!</h1>
  <div>
      <img id="codeImg" class=" codeInterest"src="https://image.ibb.co/iqfDdS/coding_Img.jpg" alt="coding Img" border="0" />
      <h1 id="codeText" class=" codeInterest">One of my interests is coding. Although I am not too good at it yet I can do many things and I am still learning</h1>
  </div>

    
</body>