<head>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
</head>

<body>
  <div class = "main" >
    <div class="primary">
      <h1 id="titleText">Who Am I?</h1>
      <img src="https://image.ibb.co/nLnWF7/me.jpg" alt="me" border="0" id="imgPlaceholder" />
    </div>
    <div class="secondary">
      <h1 id="firstLine" class="aboutMe"> Hello. Welcome to the About page of my site. My name is Jose Santana and I am currently in the 11th grade of highschool.</h1>
    </div>
  </div>

  <h1 id="lastLine" class="aboutMe">Scroll down below to learn more about me!</h1>

  <div class = "myInterests" >

    
    <button class = " btn code" >Code</button>
    <button class = " btn art">Art</button>
    <button class = " btn design">Design</button>
    <button class = " btn gaming">Gaming</button>

  </div>


  <!-- <div>
    <img id="codeImg" class=" codeInterest" src="https://image.ibb.co/iqfDdS/coding_Img.jpg" alt="coding Img" border="0" />
    <h1 id="codeText" class=" codeInterest">One of my interests is coding. Although I am not too good at it yet I can do many things and I am still learning</h1>
  </div> -->


</body>