<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
</head>

<body>
  <div id="login">

    <h1>Admin Login</h1>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <input class = "highlight" id = "email" type="text" [(ngModel)]="credentials.email" name="email" #email="ngModel" placeholder="Email" required>
      <input class = "highlight" id = "password" type="password" [(ngModel)]="credentials.password" name="password" #password="ngModel" placeholder="Password" required><br>
      <button (click) = "onSubmit()" class = "btn" [disabled]="!loginForm.valid" type="submit">Log In</button>

    </form>



  </div>
</body>