#centerText{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 10%;
}
#infoText{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
    padding-top: 1%;
}